<header
  class="flex items-center justify-between p-5 bg-primary drop-shadow-lg border-b bg-white"
>
  <div class="lg:w-[250px]">Refuch Tour</div>
  <div class="flex items-center space-x-5 lg:space-x-8">
    <a class="text-black no-underline" href="/">Home</a>
    <a class="text-black no-underline" href="/products">Products</a>
    <a class="text-black no-underline" href="/contact">Contact</a>
  </div>
  <div class="lg:w-[250px] flex justify-end items-center space-x-5">
    <p-button label="Submit"></p-button>
  </div>
</header>
