<footer class="bg-white drop-shadow-lg border-t">
  <div
    class="p-5 lg:p-8 flex flex-col md:flex-row justify-between md:space-x-5 lg:space-x-8 xl:space-x-12 container lg:py-12"
  >
    <div class="w-full max-w-[300px]">
      <p class="font-semibold">Refuch Tour</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
        accusantium, dolorem eos sint repellat, facilis id quod minima dolore
        amet nemo molestiae cum alias voluptas obcaecati, veritatis enim
        blanditiis quisquam.
      </p>
    </div>
    <div class="w-full flex flex-col space-y-5">
      <p class="font-semibold">Sitemap</p>
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/contact">Contact</a>
    </div>
    <div class="w-full">
      <p class="font-semibold">Social Media</p>
      <ul>
        <li>
          <a href="">Home</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="">Product</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
