<section id="about">
  <div
    class="flex flex-col space-y-5 md:space-y-0 md:flex-row md:space-x-5 lg:space-x-12 container py-5 md:py-8 lg:py-12 xl:py-16 md:items-center"
  >
    <div data-aos="fade-up" data-aos-duration="3000" class="w-full">
      <img class="rounded-md" src="/assets/illustration_2.jpg" />
    </div>
    <div
      class="w-full flex flex-col items-center text-center md:items-start md:text-left"
    >
      <p class="font-light">About Us</p>
      <h1 class="font-semibold mt-3">Discover Our Story</h1>
      <p class="mt-3 leading-relaxed max-w-[500px]">
        Embark on a journey through our history, values, and passion for travel.
        Learn more about Refuch Tour and our commitment to providing
        unforgettable experiences for adventurers worldwide.
      </p>
      <a href="/tours" class="mt-5">
        <p-button> See All Tours </p-button>
      </a>
    </div>
  </div>
</section>
