<div class="bg-white drop-shadow-lg cursor-pointer">
  <div class="w-full h-[200px]">
    <img
      class="w-full object-cover h-full"
      [src]="service.imageUrl"
      [alt]="service.title"
    />
  </div>
  <div class="p-5">
    <h3 class="line-clamp-1 font-medium">{{ service.title }}</h3>
    <p class="line-clamp-3 mt-2">{{ service.content }}</p>
    @if (adminMode) {
    <div class="flex items-center space-x-5 mt-5">
      <button
        (click)="openEditModal()"
        [disabled]="loading"
        [ngClass]="{
          'bg-gray-400': loading,
          'bg-primary': !loading
        }"
        class="rounded-md w-full p-3 text-white flex items-center justify-center space-x-3 ripple"
      >
        <p>Edit</p>
        <ng-icon name="heroPencilSolid"></ng-icon>
      </button>
      <button
        [ngClass]="{
          'bg-gray-400': loading,
          'bg-red-500': !loading
        }"
        [disabled]="loading"
        (click)="confirm1($event)"
        class="rounded-md w-full p-3 text-white flex items-center justify-center space-x-3 ripple"
      >
        <p>Delete</p>
        <ng-icon name="heroTrashSolid"></ng-icon>
      </button>
    </div>
    } @else {
    <a [href]="'/services/' + service.slug">
      <button
        class="w-full bg-primary text-white rounded-md p-3 mt-5 flex items-center justify-center space-x-3 ripple"
      >
        <p>Check Detail</p>
        <ng-icon name="heroEyeSolid"></ng-icon>
      </button>
    </a>
    }
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
<p-dialog
  header="Edit Service"
  [(visible)]="showEditModal"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-edit-services [service]="service"></app-edit-services>
</p-dialog>

<!-- <p-dialog
  header="Edit Blog"
  [(visible)]="showEditModal"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
>
  <app-edit-blog [blog]="blog"></app-edit-blog>
</p-dialog> -->
