<section class="bg-gray-50">
  <div
    class="flex flex-col space-y-5 md:space-y-0 md:flex-row md:space-x-5 lg:space-x-12 container py-5 md:py-8 lg:py-12 xl:py-16 md:items-center"
  >
    <div
      class="w-full flex flex-col items-center text-center md:text-left md:items-start"
    >
      <p class="font-light">Tour & Travel</p>
      <h1 class="font-semibold mt-3">Discover Your Next Adventure</h1>
      <p class="mt-3 leading-relaxed max-w-[500px]">
        Embark on unforgettable journeys with Refuch Tour. From stunning
        landscapes to vibrant cultures, let us guide you to the destinations of
        your dreams. Start your adventure today
      </p>
      <a href="/#about" class="mt-5">
        <p-button> Get Started </p-button>
      </a>
    </div>
    <div class="w-full">
      <img class="rounded-md" src="/assets/illustration_1.jpg" />
    </div>
  </div>
</section>
