<!-- transactions.component.html -->
<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
  <!-- card.component.html -->
  @if (transactions.length > 0 && !loading) { @for (transaction of transactions;
  track $index) {
  <div class="bg-white drop-shadow-sm rounded-lg shadow-lg p-6">
    <div class="flex justify-between mb-2">
      <span class="text-lg font-bold">{{ transaction.transaction_id }}</span>
    </div>
    <div class="text-sm text-gray-500 mb-2">
      {{ transaction.transaction_time }}
    </div>
    <div class="mb-2">
      <span class="text-sm font-semibold">Order ID : </span>
      <span class="text-sm">{{ transaction.order_id }}</span>
    </div>
    <div class="mb-2">
      <span class="text-sm font-semibold">Status : </span>
      <span class="text-sm">{{ transaction.transaction_status }}</span>
    </div>
    <div class="mb-2">
      <span class="text-sm font-semibold">Payment Type : </span>
      <span class="text-sm">{{ transaction.payment_type }}</span>
    </div>
    <div>
      <span class="text-sm font-semibold">Amount : </span>
      <span class="text-sm"
        >Rp {{ transaction.gross_amount.toLocaleString() }}</span
      >
    </div>
  </div>
  } } @else if(loading) { @for (item of [].constructor(6); track $index) {
  <p-skeleton height="300px" styleClass="mb-2 w-full"></p-skeleton>
  } } @else {
  <div class="w-full h-[500px] flex items-center justify-center">
    No Transactions Found
  </div>
  }
</div>
