<!-- transactions.component.html -->
<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4">
  <!-- card.component.html -->
  @for (transaction of transactions; track $index) {

  <div class="bg-white drop-shadow-sm rounded-lg shadow-lg p-6">
    <div class="flex justify-between mb-4">
      <span class="text-lg font-bold">{{ transaction.transaction_id }}</span>
      <span class="text-sm text-gray-500">{{
        transaction.transaction_time
      }}</span>
    </div>
    <div class="mb-2">
      <span class="text-sm font-semibold">Order ID :</span>
      <span class="text-sm">{{ transaction.order_id }}</span>
    </div>
    <div class="mb-2">
      <span class="text-sm font-semibold">Status :</span>
      <span class="text-sm">{{ transaction.transaction_status }}</span>
    </div>
    <div class="mb-2">
      <span class="text-sm font-semibold">Payment Type :</span>
      <span class="text-sm">{{ transaction.payment_type }}</span>
    </div>
    <div>
      <span class="text-sm font-semibold">Amount :</span>
      <span class="text-sm"
        >Rp {{ transaction.gross_amount.toLocaleString() }}</span
      >
    </div>
  </div>
  }
</div>
